<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Planilha</h4>
                    <p class="category"></p>
                </div>
                <br>
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="dataProcessamento">Data do processamento</label>
                                <input type="text"
                                    id="dataProcessamento"
                                    (ngModelChange)="onchangeNome($event)">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="codigoAcesso">Código de Acesso</label>
                                <input type="text"
                                    id="codigoAcesso"
                                    (ngModelChange)="onchangeNome($event)">
                            </div>
                        </div>
                        
                    </div>

                    
                    <div class="text-center">
                        <button type="button" (click)="uploadFileToActivity()" class="btn btn-info btn-fill btn-wd">Pesquisar</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData3?.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData3?.dataRows">
                                <td *ngFor="let cell of row">
                                <span *ngIf="cell!='link'">{{cell}}</span>
                                    
                                <a [attr.href]="retornaLink(row)" *ngIf="cell=='link'">Clique aqui</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
