    <div class="container-fluid">
        <div class="row" style="color: blue;">
            {{msg}}
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Processar arquivo</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="file">Escolha o arquivo</label>
                                        <input type="file"
                                            id="file"
                                            (change)="handleFileInput($event.target.files)">
                                    </div>
                                </div>
                                
                            </div>

                            
                            <div class="text-center">
                                <button type="button" (click)="uploadFileToActivity()" class="btn btn-info btn-fill btn-wd">Processar o arquivo</button>
                                <a [attr.href]="downloadArquivo()" *ngIf="download">Download</a>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
